<!doctype html>
<html ng-app>
	<head>
		<title>Lista de compras com AngularJS</title>
    <meta charset="utf-8">
		<link rel="stylesheet" href="bootstrap.css">
        <link rel="stylesheet" href="lista-compras.css">
        <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="ListaComprasController">
			<div class="row">
				<div class="page-header">
					<h1>Lista de compras</h1>
				</div>
			</div>
			<div class="row">
        <table id="lista-compras" class="table table-striped">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in itens">
              <td><strong>{{ item.produto }}</strong></td>
              <td>{{ item.quantidade }}</td>
            </tr>
          </tbody>
        </table>
			</div>
      <div class="row">
        <form class="form-inline" name="formItem">
          <input type="text" ng-model="item.produto" placeholder="Produto">
          <input type="number" ng-model="item.quantidade" placeholder="Quantidade" class="input-small">
          <button class="btn btn-primary" ng-click="adicionaItem()">adicionar ítem</button>
        </form>
      </div>
		</div>
    </body>
    <script>
    function ListaComprasController($scope) {
    $scope.itens = [
        {produto: 'Arroz', quantidade: 2, comprado: false},
        {produto: 'Farinha', quantidade: 12, comprado: false}
    ];

    $scope.adicionaItem = function () {
        $scope.itens.push({produto: $scope.item.produto,
                           quantidade: $scope.item.quantidade,
                           comprado: false});
        $scope.item.produto = $scope.item.quantidade = '';
    };
}
    </script>
</html>